@use "./mixin" as *;
//theme Dark OR light
$theme: light;
$dark-color: white;
$dark-back: #333;
$dark-back-black: black;
$dark-back-train: #e0e0e070;
$dark-back-train2: #c2c2c2;
$light-color: #333;
$light-back: white;
$light-back-white: #eee;
$light-back-train: #e0e0e070;
$light-back-train2: #0a0a0aad;
$border-light-dark: #bdbdbd;

// grid system
$grid-cols: 12;

//animation main > header > li
@include keyframes-zoom(zoom);

// main header space
$header-main-heigh: 80px;

//card group space img and date
$space-img: 50px;
$space-date: 75px;
