* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

:root {
  --had-heigh: 55px;
  --had-icon: 55px;
}

html {
  scroll-behavior: smooth;
}

.page {
  width: 100%;
  height: calc(100vh - var(--had-heigh));
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(0.9, 0.75, 1);
            transform: scale3d(0.9, 0.75, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(0.9, 0.75, 1);
            transform: scale3d(0.9, 0.75, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--had-heigh);
  padding-left: 10px;
  padding-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-bottom: 1px solid #bdbdbd;
}
header .logo {
  position: relative;
  width: 175px;
  height: 50px;
  background: url(../image/logo/logo6.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
header .logo a {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav ul li {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 30px;
  font-weight: bold;
}
header nav ul li:hover {
  -webkit-animation: zoom 0.5s linear;
          animation: zoom 0.5s linear;
}
header nav ul li a {
  color: #4e7687;
}
header .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .login .in-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border: 1px dotted #eee;
}
header .login .in-image img {
  width: 100%;
  height: 100%;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.mai-cha section, .mai-cha main, .mai-cha {
  height: inherit;
}

.mai-cha {
  margin-top: var(--had-heigh);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mai-cha main {
  background-color: white;
  border-right: 1px solid #bdbdbd;
  padding-top: 5px;
  padding-bottom: 10px;
  overflow: hidden;
}
.mai-cha main .head-mai {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.mai-cha main .head-mai .nam-adt {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mai-cha main .head-mai .nam-adt h2 {
  font-size: 25px;
  font-weight: bold;
  color: #333;
  letter-spacing: 1px;
}
.mai-cha main .head-mai .nam-adt ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mai-cha main .head-mai .nam-adt ul li {
  font-size: 20px;
  margin-left: 5px;
  margin-right: 10px;
  color: #333;
  cursor: pointer;
}
.mai-cha main .head-mai .nam-adt ul li:hover {
  -webkit-animation: zoom 0.5s linear;
          animation: zoom 0.5s linear;
}

.chat-box {
  position: absolute;
  border-radius: 8px;
  padding: 10px;
  top: 100px;
  left: 50px;
  width: 280px;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  color: #fff;
  display: none;
}
.chat-box.active {
  display: block;
}

.chat-box .chat-content .chat-search {
  margin: 10px 0;
}

.chat-box .chat-content .chat-search input {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid green;
  color: #fff;
}

.chat-box .chat-content ul{
  flex-direction: column;
}

.chat-box .chat-content ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  width: 100%;
}
.chat-box .chat-content ul li:not(:last-child) {
  border-bottom: 1px solid #999;
  margin-bottom: 10px;
}
.chat-box .chat-content ul li .img-chat img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.chat-box .chat-content ul li .img-chat img  {
  max-width: 100%;
  max-height: 100%;
}
.chat-box .chat-content ul li .text-chat h4 {
  font-size: 14px;
  color: #eee;
}
.chat-box .chat-content ul li .text-chat p {
  font-size: 12px;
  color: #999;
}

.chat-box .chat-content ul li:first-child .img-chat {
  background-color:#555;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
  color: #fff;
  margin-bottom: 10px;
}
.chat-box .chat-content ul li:first-child h4 {
  font-size: 18px;
}



.mai-cha main .head-mai .search {
  position: relative;
  width: 100%;
}
.mai-cha main .head-mai .search input {
  width: 100%;
  height: 30px;
  outline: none;
  background-color: white;
  color: #333;
  border: none;
  border-bottom: 2px solid #bdbdbd;
  padding-left: 33px;
  padding-right: 20px;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 20px;
}
.mai-cha main .head-mai .search i {
  position: absolute;
  top: 0;
  left: 0;
  color: #bdbdbd;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mai-cha main .content-groups {
  margin-top: 5px;
  height: calc(100% - 80px);
  padding-left: 10px;
  padding-right: 10px;
  overflow-y: auto;
}
.mai-cha main .content-groups::-webkit-scrollbar {
  width: 2px;
}
.mai-cha main .content-groups::-webkit-scrollbar-track {
  background: white;
}
.mai-cha main .content-groups::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 6px;
}
.mai-cha main .content-groups::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.mai-cha main .content-groups .Groups-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mai-cha main .content-groups .Groups-card .cd-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  border-bottom: 1px solid #bdbdbd;
  cursor: pointer;
  margin-bottom: 5px;
  overflow: hidden;
}
.mai-cha main .content-groups .Groups-card .cd-group:hover {
  background-color: rgba(224, 224, 224, 0.4392156863);
}
.mai-cha main .content-groups .Groups-card .cd-group .image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.mai-cha main .content-groups .Groups-card .cd-group .image img {
  width: 100%;
  height: 100%;
}
.mai-cha main .content-groups .Groups-card .cd-group .text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: calc(100% - 140px);
}
.mai-cha main .content-groups .Groups-card .cd-group .text h3 {
  color: #333;
  font-weight: normal;
  letter-spacing: 1px;
}
.mai-cha main .content-groups .Groups-card .cd-group .text p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 1px;
  color: #c2c2c2;
  color: rgba(10, 10, 10, 0.6784313725);
}
.mai-cha main .content-groups .Groups-card .cd-group .date p {
  width: 75px;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgba(10, 10, 10, 0.6784313725);
}
.mai-cha section {
  background-color: white;
  background-image: url(../image/fatigued.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.mai-cha section .head-chat {
  width: 100%;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #bdbdbd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
}
.mai-cha section .head-chat .Profile-details {
  cursor: pointer;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.mai-cha section .head-chat .Profile-details .image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin-left: 5px;
  margin-right: 10px;
}
.mai-cha section .head-chat .Profile-details .image img {
  width: 100%;
  height: 100%;
}
.mai-cha section .head-chat .Profile-details h2 {
  color: #333;
}
.mai-cha section .head-chat .search {
  width: 70px;
}
.mai-cha section .head-chat .search ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mai-cha section .head-chat .search ul li {
  cursor: pointer;
  font-size: 18px;
  margin-left: 1px;
  margin-right: 10px;
  color: #333;
}
/*# sourceMappingURL=main.css.map */
@media (min-width:601px) and (max-width: 991px) {
  .mai-cha main .content-groups .Groups-card .cd-group .image {
    width: 30px;
    height: 30px;
  }
  .mai-cha main .content-groups .Groups-card .cd-group .text {
    width: calc(100% - 120px);
  }
  .mai-cha main .content-groups .Groups-card .cd-group .text h3 {
    font-size: 12px;
  }
  .mai-cha main .content-groups .Groups-card .cd-group .text p {
    font-size: 10px;
  }
  .mai-cha main .content-groups .Groups-card .cd-group .date p {
    font-size: 12px;
    width: 60px;
  }
}
@media (max-width: 600px) {
  .col-3 {
    width: 100%;
  }
  .col-9 {
    display: none;
  }
}
